body {
    /* padding: 0; */
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7;
    background: url("https://www.noaa.gov/sites/default/files/styles/landscape_width_1275/public/legacy/image/2019/Jun/iStock-477110708%20%281%29.jpg");
    background-size: cover;
    overflow: hidden;
}

.container {
    /* justify-content: center;
    align-items: center; */
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    /* margin-top: 3rem; */ 
    text-align: center;
    margin: 3rem auto 0;
    max-width: 600px;
    border-radius: 3rem;
    padding: 1.2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2rem;
}

form input[type="text"] {
    padding: 0.6rem;
    border: none;
    outline: none;
    font-size: 1.2rem;
    width: 60%;
}

form input[type="submit"] {
    background-color: rgb(0, 164, 0);
    color: #fff;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    transition: background-color .5s ease-in-out;
}

form input[type="submit"]:hover {
    background-color: darkgreen;
}

.icon img {
    width: 6rem;
    height: 6rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.temperature {
    font-size: 2.4rem;
    font-weight: bold;
    margin: 1.2rem 0;
}

.description {
    font-size: 1.7rem;
    margin-bottom: 1.2rem;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.details > div {
    padding: 1.2rem;
    background-color: #f1f1f1;
    margin: 0.6rem;
    /* flex: 1; */
    border-radius: 1rem;
    text-align: center;
    min-height: 2.5rem;
}

@media (max-width:786px) {
    form {
        flex-direction: column;
    }

    form input[type="text"] {
        width: 100%;
        margin-bottom: 0.6rem;
        text-align: center;
    }
}
